<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav class="app-sidenav" #sidenav [opened]="pantallaSmall() ? 'false' : 'true'" [mode]="pantallaSmall() ? 'over' : 'side'">
        <mat-toolbar color="primary" class="center">
            <mat-icon style="margin-bottom: 13px;">book</mat-icon>
            <p>Menú</p>
        </mat-toolbar>
        <mat-nav-list class="aside">
            <mat-list-item class="item-list">
               <a  matLine [routerLink]="['RXJS']" class="nombre-list">RXJS</a>
            </mat-list-item>
            <mat-list-item class="item-list">
                <a matLine [routerLink]="['productos']" class="nombre-list">productos</a>
             </mat-list-item>
          </mat-nav-list>          
    </mat-sidenav>
    <div class="app-sidenav-content">
        <app-toolbar (disparador)="sidenav.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
